bshvenv
./bshvenv
bshvenv/
*.idea
*.vscode
.idea
.vscode
.idea/
venv/
env/
__pycache__/
ACIBackEnd/__pycache__/
shared/__pycache__/
shared/migrations/__pycache__/
action_logger/__pycache__/
action_logger/migrations/__pycache__/

